<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245507890321-jcn7gcd5r6b6pv76ttbn6adasnkaqgho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245507890321-jcn7gcd5r6b6pv76ttbn6adasnkaqgho</string>
	<key>API_KEY</key>
	<string>AIzaSyCD-pweUWP1wZ1bKx2-1w5jDcDYiKIO0wk</string>
	<key>GCM_SENDER_ID</key>
	<string>245507890321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BriceRedmond.MyPricePal1</string>
	<key>PROJECT_ID</key>
	<string>mypricepal</string>
	<key>STORAGE_BUCKET</key>
	<string>mypricepal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245507890321:ios:27f540c610bf0808</string>
	<key>DATABASE_URL</key>
	<string>https://mypricepal.firebaseio.com</string>
</dict>
</plist>